:root {
  --sl-font: "Lexend";
}

header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

:root {
  --sl-text-3xl: 1.2rem;
  --sl-text-4xl: 1.7rem;
  --sl-color-bg-nav: transparent;
}
